# Python Basic Requirements
# pip
# setuptools
# wheel

numpy~=2.1.2
pandas~=2.2.3
# websockets

httpx~=0.27.2
# pytz

# ByBit Official Python Packedge
# pybit

# ## ADD TO LOCAL REQUIREMENTS
# matplotlib
# jupyter
# pytest

pytest~=8.3.3